<aside class="sidebar">
  <div class="sidebar-top">
    <mat-icon class="logo-icon">school</mat-icon>
    <div class="logo-text">Excellent Training</div>
  </div>

  <div class="nav-section-title">Navigation</div>
  <div class="nav-list">
    <a
      *ngFor="let item of mainNavItems"
      class="nav-link"
      [routerLink]="item.route"
      routerLinkActive="active-link"
      (click)="onNavigate()"
      [class.hidden]="!canShow(item)">
      <mat-icon>{{ item.icon }}</mat-icon>
      <span>{{ item.label }}</span>
    </a>
  </div>

  <ng-container *ngIf="authService.isAdmin()">
    <div class="nav-section-title">Administration</div>
    <div class="nav-list">
      <a
        *ngFor="let item of adminNavItems"
        class="nav-link"
        [routerLink]="item.route"
        routerLinkActive="active-link"
        (click)="onNavigate()"
        [class.hidden]="!canShow(item)">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.label }}</span>
      </a>
    </div>
  </ng-container>

  <div class="sidebar-user" *ngIf="authService.isLoggedIn()">
    <div class="user-dot">{{ authService.getLogin().charAt(0).toUpperCase() }}</div>
    <div class="user-meta">
      <span class="user-name">{{ authService.getLogin() }}</span>
      <span class="user-role">{{ authService.getRole() }}</span>
    </div>
  </div>
</aside>
