<div class="login-wrapper">
	<div class="login-card">
		<div class="login-header">
			<div class="login-logo">
				<mat-icon>school</mat-icon>
			</div>
			<h1>Excellent Training</h1>
			<p>Plateforme de gestion des formations</p>
		</div>
		<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
			<mat-form-field appearance="outline">
				<mat-label>Identifiant</mat-label>
				<mat-icon matPrefix>person</mat-icon>
				<input matInput formControlName="login" placeholder="Votre identifiant">
				<mat-error>L'identifiant est requis</mat-error>
			</mat-form-field>
			<mat-form-field appearance="outline">
				<mat-label>Mot de passe</mat-label>
				<mat-icon matPrefix>lock</mat-icon>
				<input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
				<button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
					<mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
				</button>
				<mat-error>Minimum 4 caractères</mat-error>
			</mat-form-field>
			<button mat-raised-button color="primary" type="submit" [disabled]="loading" class="login-btn">
				<mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
				<mat-icon *ngIf="!loading">login</mat-icon>
				{{ loading ? 'Connexion...' : 'Se connecter' }}
			</button>
		</form>
	</div>
</div>
